.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
@media (max-width: 500px){
  .header {
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 6%;
  }
  
  .logo {
    font-size: 0.9rem;
    color: white;
    font-family: 'Lato', sans-serif;
  }
  
  .header li {
    margin-left: 0.9rem;
  }
  
  .header a {
    font-size: 0.6rem;
    font-weight: 500;
    color: #dbdbdb;
  }
  
}